<% provide(:title, "アバウト") %>
  <div class="jumbotron about">
    <h1>謎解き広場とは？</h1>
    <div class="row">
      <div class="col-lg-8 offset-2">
        <p>謎解き広場では誰でもクイズを出題することができ、誰でもクイズを楽しむことができます。</p>
        <p>クイズというものは一度答えを知ってしまったら、2回目以降は楽しめなくなってしまうという弱点があります。</p>
        <p>どんなに素晴らしい謎解きクイズであってもそれは変わりません。</p>
        <p>「色んな謎解きにチャレンジしてみたい」、「もっとたくさんの謎解きがあったらいいな」という気持ちを叶えたい。</p>
        <p>また、難しい謎解きを作れる人も世の中にはたくさんいるでしょう。</p>
        <p>「この謎が解けるかな？」といった全国にいるつわものたちがクイズを出題することができる広場となっています。</p>
      </div>
    </div>
  </div>